<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href={% static "home/css/base.css" %}>
	{% block css %}{% endblock %}

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<img src= {% static "/home/media/logo.png" %} width="40" height="28" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% if user.is_authenticated %}
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/timeline">Timelines<span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<span class="navbar-text">
				<div class ="dropdown">
					<a href=""  data-toggle="dropdown"><img src= {% static "/home/media/account.png" %} width="40" height="40" alt="">{{ user.first_name }} {{ user.last_name }}</a>
					<div class="dropdown-menu">
					 <a class="dropdown-item" href="#">My Account</a>
					 <a class="dropdown-item" href="/logout">Logout</a>
				 </div>
				</div>
			</span>
		</div>
		{% else %}
		<div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="navbar-text">
				<a href="/login"><button type="button" class="btn btn-primary" id = "login-button">Log In</button></a>
				<a href="/login"><button type="button" class="btn btn-danger" id = "signup-button">Sign Up</button></a>
      </span>
    </div>
		{% endif %}
	</nav>

  {% block content %}
	<main class="ui page container">

	</main>
	{% endblock %}

	{% block footerjs %}

	<footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 h-100 text-center my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; MemryHub 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

	{% endblock %}
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
	  src="http://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% block js %}{% endblock %}

</body>
</html>
