{% extends "base.html" %}

{% load static %}

{% block title %}MemryHub{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href={% static "timeline/css/view.css" %}>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <script type="text/javascript">
    const oauthToken = '{{ access_token }}';
  </script>
{% endblock %}

{% block content %}


<div class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-10 center-block">
      <div class = "main-title">
        <a class ="back-button" href = "/"><i class="fa fa-arrow-left"></i>Back</a>
      </br>
        <h1>Grandma Jones</h1>
      </br>
      </div>
    </div>
    <div class="col-md-1 col-md-offset-1 col-sm-2">
    </div>
  </div>
</div>


<!--First Timeline Divider-->
<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1930</h2>
      <hr/>
    </div>
  </div>
</div>

<!--Birth Memory-->
<div class = "row color-row" id = "">
  <div class = "col-lg-12">
    <div class="card center-block main-card" style = "width: 80%">
      <div class="card-block header-block">
        <div class = "memory-name">
          <h3 class="card-title">Birth (March 2, 1933)</h3>
        </div>
        <div class = "location">
          <h5>
            Kansas City,
            Missouri,
            United States
        </h5>
        </div>
        <p class="card-description">Grandma Jones was born in Kansas City, MI in 1933. She had three older brothers and one older sister. They lived in a small home and didn't have much.</p>
      </div>
      <div class = "card-columns ">
        <div class = "card file-card">
          <a href=""></a>
          <div class = "info-of-card">
              <h4>
                BabyPhoto.jpg
              </h4>
          </div>
          <br>
          <div class = "iframe-class center-block">
              <img  class = "img-fluid" src="https://drive.google.com/uc?export=view&id=TEMPFILENAME" alt="Image">
          </div>
          <div class = "file-description">
            Baby photo of Grandma Jones.
          </div>
        </br>
        </div>
      <a class = "no-underline" href="">
      </a>
    </div>
      <div class = "card-block footer-block">

      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1940</h2>
      <hr/>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1950</h2>
      <hr/>
    </div>
  </div>
</div>

<!--Wedding Memory-->
<div class = "row color-row" id = "">
  <div class = "col-lg-12">
    <div class="card center-block main-card" style = "width: 80%">
      <div class="card-block header-block">
        <div class = "memory-name">
          <h3 class="card-title">Wedding (June 30, 1954)</h3>
        </div>
        <div class = "location">
          <h5>
            Kansas City,
            Missouri,
            United States
        </h5>
        </div>
        <p class="card-description">Grandma married Grandpa (Robert Jones) on June 30, 1954.</p>
      </div>
      <div class = "card-columns ">
        <div class = "card file-card">
          <a href=""></a>
          <div class = "info-of-card">
              <h4>
                Wedding1.jpg
              </h4>
          </div>
          <br>
          <div class = "iframe-class center-block">
              <img  class = "img-fluid" src="https://drive.google.com/uc?export=view&id=TEMPFILENAME" alt="Image">
          </div>
          <div class = "file-description">
            Wedding photos of Grandma Jones.
          </div>
        </br>
        </div>
      <a class = "no-underline" href="">
      </a>
    </div>
      <div class = "card-block footer-block">

      </div>
    </div>
  </div>
</div>

<!--Elizabeth's Memory-->
<div class = "row color-row" id = "">
  <div class = "col-lg-12">
    <div class="card center-block main-card" style = "width: 80%">
      <div class="card-block header-block">
        <div class = "memory-name">
          <h3 class="card-title">Elizabeth's Birth (October 23, 1956)</h3>
        </div>
        <div class = "location">
          <h5>
            Kansas City,
            Missouri,
            United States
        </h5>
        </div>
        <p class="card-description">Elizabeth was born in Kansas City and went home to their first house.</p>
      </div>
      <div class = "card-columns ">
        <div class = "card file-card">
          <a href=""></a>
          <div class = "info-of-card">
              <h4>
                Elizabeth1.jpg
              </h4>
          </div>
          <br>
          <div class = "iframe-class center-block">
              <img  class = "img-fluid" src="https://drive.google.com/uc?export=view&id=TEMPFILENAME" alt="Image">
          </div>
          <div class = "file-description">
            Elizabeth's only baby photo.
          </div>
        </br>
        </div>
      <a class = "no-underline" href="">
      </a>
    </div>
      <div class = "card-block footer-block">

      </div>
    </div>
  </div>
</div>

<!--Johnny's Memory-->
<div class = "row color-row" id = "">
  <div class = "col-lg-12">
    <div class="card center-block main-card" style = "width: 80%">
      <div class="card-block header-block">
        <div class = "memory-name">
          <h3 class="card-title">Johnny's Birth (June 12, 1958)</h3>
        </div>
        <div class = "location">
          <h5>
            Tulsa,
            Oklahoma,
            United States
        </h5>
        </div>
        <p class="card-description">Johnny was born in Tulsa a few months after Grandma and Grandpa moved to Tulsa.</p>
      </div>
      <div class = "card-columns ">
        <div class = "card file-card">
          <a href=""></a>
          <div class = "info-of-card">
              <h4>
                Johnny.jpg
              </h4>
          </div>
          <br>
          <div class = "iframe-class center-block">
              <img  class = "img-fluid" src="https://drive.google.com/uc?export=view&id=TEMPFILENAME" alt="Image">
          </div>
          <div class = "file-description">
            Johnny's First Photo.
          </div>
        </br>
        </div>
      <a class = "no-underline" href="">
      </a>
    </div>
      <div class = "card-block footer-block">

      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1960</h2>
      <hr/>
    </div>
  </div>
</div>

<!--Sarah's Memory-->
<div class = "row color-row" id = "">
  <div class = "col-lg-12">
    <div class="card center-block main-card" style = "width: 80%">
      <div class="card-block header-block">
        <div class = "memory-name">
          <h3 class="card-title">Sarah's Birth (November 15, 1962)</h3>
        </div>
        <div class = "location">
          <h5>
            Tulsa,
            Oklahoma,
            United States
        </h5>
        </div>
        <p class="card-description">Sarah was also born in Tulsa.</p>
      </div>
      <div class = "card-columns ">
        <div class = "card file-card">
          <a href=""></a>
          <div class = "info-of-card">
              <h4>
                Sarah1.jpg
              </h4>
          </div>
          <br>
          <div class = "iframe-class center-block">
              <img  class = "img-fluid" src="https://drive.google.com/uc?export=view&id=TEMPFILENAME" alt="Image">
          </div>
          <div class = "file-description">
            Sarah's First Photo.
          </div>
        </br>
        </div>
      <a class = "no-underline" href="">
      </a>
    </div>
      <div class = "card-block footer-block">

      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1970</h2>
      <hr/>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1980</h2>
      <hr/>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>1990</h2>
      <hr/>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>2000</h2>
      <hr/>
    </div>
  </div>
</div>

<!--Passing Memory-->
<div class = "row color-row" id = "">
  <div class = "col-lg-12">
    <div class="card center-block main-card" style = "width: 80%">
      <div class="card-block header-block">
        <div class = "memory-name">
          <h3 class="card-title">Funeral (November 22, 2004)</h3>
        </div>
        <div class = "location">
          <h5>
            Plano,
            Texas,
            United States
        </h5>
        </div>
        <p class="card-description">Grandma passed away on November 22, 2004 in her home in Texas.</p>
      </div>
      <div class = "card-columns ">
        <div class = "card file-card">
          <a href=""></a>
          <div class = "info-of-card">
              <h4>
                FamilyPhoto.jpg
              </h4>
          </div>
          <br>
          <div class = "iframe-class center-block">
              <img  class = "img-fluid" src="https://drive.google.com/uc?export=view&id=TEMPFILENAME" alt="Image">
          </div>
          <div class = "file-description">
            Family Photo taken at Grandma's Funeral.
          </div>
        </br>
        </div>
      <a class = "no-underline" href="">
      </a>
    </div>
      <div class = "card-block footer-block">

      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg 12">
    <div class="timeline-divider text-center">
      <hr/>
      <h2>2010</h2>
      <hr/>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <script src = {% static "timeline/js/view.js" %}></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>

{% endblock %}
