.background-blue{  background-color: #154360;}
.background-grey{  background-color: #eedd82;}
.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom: 20px}
.close-margin { margin: 0 }

#login-button{
  background-color: #3498DB;
  border: 0px;
}

#signup-button{
  background-color: #2ECC71;
  border: 0px;
}
