.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.delete-file-button{
  color:red;
  font-size: small;
}

.collapse-link{
  color: text-muted;
  font-size: small;
}

.card{
  margin-bottom: 5px;
  margin-top: 5px;
}

.file-card{
  margin-right: 1%;
  display: inline-block;
  text-align: center;
}

.card-description{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
}

.image-card{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron-billboard .jumbotron-img {
    margin-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    background: #000 url("../media/homepage_image.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    top:0;
    left:0;
    z-index:1;*/
}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom: 0px;
}

.jumbotron .container {
  position:relative;
  z-index:2;
}

.shadow{
  box-shadow: 10px 10px 20px 20px white inset;
}

#landing-image{
  opacity: .8;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
