.background-row{
  background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url("../media/homepage_big_image.png");
  height: 400px;
  width: auto;
  padding: 0px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  }

.row{
  padding: 0;
}

.text-banner{
  padding-top: 22%;
  padding-left: 15%;
  height: auto;
  width: 100%;
}

.text-banner h1{
  color:white;
  font-size: auto;
  padding-left: 2%;
}

.text-banner p{
  padding-left: 2%;
  color:white;
  font-size: 120%;
}

.text-background{
  background: #49BFDC;
}

.btn-call-to-action{
  background-color: #8DC63F;
  color: white;
  font-size: 120%;
}

.btn-span{
  padding-left: 2%;
}

.landing-image-row{
  padding: 0px;
}

#image-diagram{
  width:100%;
  padding-left: 5%;
  padding-right: 5%;
}

.grey-row{
  background-color: #F6F6F6;
}

.explanation{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: auto;
}

.explanation p{
  font-size: 110%;
  margin-bottom: 0px;
}

.explanation h1{
  margin-bottom: 0px;
}

.header{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
}

.header h1{
  font-size: 2rem;
  margin-bottom: 0px
}

.image-example{
    width: 100%;
}

.memory-div{
  margin-top: 1%;
  padding-bottom: 2.5%;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.09);
  border-style: solid;
  border-width: thin;
}

.memory-div:hover{
  box-shadow: 0 4px 15px rgba(0,0,0,0.12);
  cursor: pointer;
}

.memory-div h2{
  text-align: center;
  padding-top: 3%;
}


.example-row{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: -5px;
  padding-bottom: 4%;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.iframe{
  width:100%
}

.biteable-div{
  padding-left: 20%;
  padding-right: 20%;
}

/*
.collapse-link{
  color: text-muted;
  font-size: small;
}

.card{
  margin-bottom: 5px;
  margin-top: 5px;
}

.file-card{
  margin-right: 1%;
  display: inline-block;
  text-align: center;
}

.card-description{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
}

.image-card{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron-billboard .jumbotron-img {
    margin-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    background: #000 url("../media/homepage_image.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom: 0px;
}

.jumbotron .container {
  position:relative;
  z-index:2;
}

.shadow{
  box-shadow: 10px 10px 20px 20px white inset;
}



.bottom-buffer{
  margin-bottom: 50px;
}

.example-row .card{
  margin-bottom: 20px;
  margin-top: 20px;
}

.example-row .main-card{
  border: none;
}

.example-row .header-block{
  margin-left: 1%;
}

.example-row .memory-name h3{
  margin-top: .5%;
  text-align: left;
  display: inline;
}

.example-row h5{
  font-size: small;
  margin-bottom: -2px;
}

.example-row .card-description{
  margin-bottom: 0%;
  margin-left: 0%;
}

.example-row .file-card{
  position: relative;
  margin-right: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.example-row .file-card a{
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.example-row .file-card .info-of-card{
  margin-left: 3%;
  margin-top: 3%  ;
}

.example-row .file-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.example-row .file-card a{
  color:black;
}

.example-row .iframe-class{
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
}

.example-row .file-description{
  margin-left: 4%;
  margin-top: 3%;
  text-align: left;
}

.timeline-divider{
  background-url: "../media/dust_scratches.png";
  background: url("../media/dust_scratches.png") top center;
}
*/
