html, body {
    height: 100%;
}
body {
    margin: 0;
}

.google-login {
  margin-top: 50%;
  margin-bottom: auto;
}

.google-img {
  width: 15em;
}

.explanation{
  margin-top: 20%;
  margin-bottom: auto;
}

h1{
  text-align: center;
}

p{
  text-align: justify;
}

.question{
  font-weight: bold;
  margin-bottom: 0px;
}
