.header-class {
  text-align: left;
}

.back-button{
  color:#49BFDC;
}

.memory-form{
  margin-left: 9%;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn{
  margin-bottom: 10px;
}

#save-memory{
  background-color: #4285F4
}

#googleDrive{
  background-color: #8DC63F;
  color: white;
  border-color: #8DC63F;
}

.delete-memory{
  background-color: #ff5555;
}

.confirm-delete-button{
  background-color: #ff5555;
}

.table-hover tr {
    cursor: pointer;
}
