.header-class {
  text-align: center;
}

.header-class h1{
  float: center;
  text-align: center;
  display: inline;
  margin-right: 3%;
}

.header-class a{
  float: left;
  text-align: left;
  margin-top: 13px;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#googleDrive {
  background-color: lightgrey;
  display: inline-block;
}

label {
  padding-bottom: .2em;
  padding-top: .3em;
}
