.header-class {
  text-align: left;
}

.back-button{
  color:#49BFDC;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#googleDrive {
  background-color: lightgrey;
  display: inline-block;
}

label {
  padding-bottom: .2em;
  padding-top: .3em;
}

.timeline-form{
  margin-left: 8%;
}

#delete-timeline{
  background-color: #ff5555;
}

#update-timeline{
  background-color: #4285F4;
}

.modal-header{
  margin-left: 3%;
  margin-right: 3%;
}

.modal-body{
  margin-left: 3%;
  margin-right: 3%;
}
