.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.back-button{
  color:#49BFDC;
}


.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2{
  font-size: medium;
}

.save-button{
  background-color: #4285F4;
}

.preview-frame{
  width:100%;
  height: 300px;
}

.file-preview{
  margin-bottom: 2%;
}
