.side-buffer{
    margin-left: 10%;
    margin-right: 10%;
}

.btn-block+.btn-block {
    margin-top: 0rem;
}

#btn-new-timeline{
  background-color: #8DC63F;
  color: white;
}

#timeline-tutorial{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #49BFDC;
}

.back-button{
  color:#49BFDC;
}

.bottom-buffer{
  margin-bottom: 60px;
}
