.main-title {
  text-align: center;
}

#add-memory-button{
  margin-left: auto;
  margin-right: auto;
}

.timeline-divider{

}

.card{
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-description{
  margin-left: 15%;
  margin-right: 15%;
}

.header-block{

}

.picture-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-columns-photo{

}

.photo-card{
  margin-left: 20%;
  margin-right: 20%;
}

.audio-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.audio-block iframe{
  width: auto;
  border:none;

}

.video-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-block{

}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
