.main-title {
  text-align: center;
}

#add-memory-button{
  margin-left: auto;
  margin-right: auto;
}

.card{
  margin-bottom: 20px;
  margin-top: 20px;
}

h5{
  font-size: small;
}

.file-card{
  margin-right: 30px;

  display: inline-block;
}

.card-description{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
}

.picture-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.photo-card{
  margin-left: 20%;
  margin-right: 20%;
}

.audio-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.audio-block iframe{
  width: auto;
  border:none;

}

.video-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-block{
  margin-bottom: 20px;
  margin-top: 20px;
}

.center-block{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
