{% extends "base.html" %}

{% load static %}

{% block title %}MemryHub{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href={% static "timeline/css/create.css" %}>
<script type="text/javascript">
// The Browser API key obtained from the Google API Console.
const developerKey = 'AIzaSyByL9-SR6OjZfHaV-YIQlxmFn9SeGTxKO8';

// The Client ID obtained from the Google API Console. Replace with your own Client ID.
const clientId = "416104053530-7lar744p4o8b7jqstahqiuovabi6qd4a.apps.googleusercontent.com"

let pickerApiLoaded = false;
const oauthToken = '{{ access_token }}';
const parent_id = '{{ parent_id }}';
</script>

{% endblock %}

{% block content %}
<br>
  <div class="container col-sm-10">
    <div class = "header-class">
      <a class = "back-button" href = "{% url 'view' timeline_id %}"><i class="fa fa-arrow-left"></i>Back</a>
    </br>
      <h1>Timeline Information</h1>
    </div>
  </div>
  <div class = "container-fluid col-sm-6 timeline-form">
    <div class="row center-block">
      <form method="POST">
        {% csrf_token %}
        {{ form.picture }}
        {{ form.name.label_tag }}
        {{ form.name }}

        {{ form.description.label_tag}}
        {{ form.description }}

        {{ form.title.label_tag}}
        <div class="input-group">
          {{ form.title}}
          <span class="input-group-btn">
            <button class="btn" id="googleDrive" onClick="onGDriveButton(); return false;" value="G_driver">Add Picture <i class="fas fa-cloud-upload-alt"></i></button>
          </span>
        </div>
        <br>
        <div class="row center-block">
          <div class="">
            <button id="update-timeline" class="btn btn-primary pull-right" type="submit" name="action">Update Timeline</button>
            <button type="button" id="delete-timeline" class="btn btn-danger bottom-buffer" data-toggle="modal" data-target="#confirm-delete-timeline">Delete Timeline</button>
          </div>

          <!-- Modal for delete -->
            <div class="modal fade" id="confirm-delete-timeline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h2 >Confirm delete?</h2>
                      </div>
                      <div class="modal-body">
                          <p>Are you sure you wish to delete this timeline?</p>
                          <p style = "font-style: italic">Note: This will not delete the folder in your Google Drive folder. This will only make the folder inactive on this website. You will still have access to the folder through your Google Drive.</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <a href = "{% url 'delete' timeline_id %}" class="btn btn-danger btn-ok">Confirm Delete</a>
                      </div>
                  </div>
              </div>
            </div>


        </div>
    </form>
    </div>
  </div>
</br>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
  <script src = {% static "timeline/js/create.js" %}></script>
{% endblock %}
