{% extends "base.html" %}

{% load static %}

{% block title %}MemryHub{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href={% static "timeline/css/edit.css" %}>
{% endblock %}

{% block content %}
<br>
  <div class="container col-sm-10 col-sm-offset-10">
    <div class = "header-class">
    <a class = "back-button" href = "{% url 'timelines'  %}"><i class="fa fa-arrow-left"></i>Back</a>
    <h1> Edit Your Timeline</h1>
  </div>
  <div class="container-fluid col-lg-4">
    <div class="row">
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <br>
        <div class="row">
          <div class ="center-block">
            <button class="btn btn-primary" type="submit" name="action">Update Timeline</button>
          </div>
        </div>
    </form>
    </div>
  </div>
{% endblock %}
