{% extends "base.html" %}

{% load static %}

{% block title %}MemryHub{% endblock %}

{% block css %}
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Google Picker Example</title>

<script type="text/javascript" src={% static "timeline/js/gdrive.css" %}></script>
{% endblock %}

{% block content %}
<button  id="googleDrive" onClick="onGDriveButton(); return false;" value="G_driver">Google Drive</button>
<div id="result"></div>

<!-- The Google API Loader script. -->
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
{% endblock %}
