{% extends "base.html" %}

{% load static %}

{% block title %}MemryHub{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href={% static "timeline/css/sharing.css" %}>
{% endblock %}

{% block content %}
<br>
<div class="container col-sm-10 col-sm-offset-10">
    <div class = "header-class">
    <a href = "{% url 'view' timeline.id %}"><i class="fa fa-arrow-left"></i>Back</a>
    <h1>{{ timeline.name }} Sharing Settings</h1>
  <br>
</div>
<div class="container col-sm-8">
    <div class="row">
      <h5>Timeline Users</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Access</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
            <td>{{ user.user.email }}</td>
            <td>
              <select id="{{ user.id }}" class="custom-select" required>
                <option {% if user.permission == 'reader' %} selected="selected" {% endif %} value="reader">Read Access</option>
                <option {% if user.permission == 'writer' %} selected="selected" {% endif %} value="writer">Edit Access</option>
              </select>
            </td>
            <td><button id="share_1" class="btn btn-primary" onclick="update({{ user.id}})" type="button">Update </button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
    <div id="share-fail" class="alert alert-danger" style="display: none;" role="alert">
      We were not able to share this timeline with the user. Please make sure you have permission to share the folder within your Google Drive.
    </div>
    <div id="share-success" class="alert alert-success" style="display: none;" role="alert">
      <h5>Timeline Shared</h5>
      <p>The timeline has been successfully shared with the user.</p>
    </div>
    <div id="share-email" class="alert alert-info" style="display: none;" role="alert">
      <h4>Email Sent</h4>
      <p>The invited user does not have a MemryHub account. An email has been sent to invite them. Once they have joined, you will need to share this timeline with them again!</p>
    </div>

    <div class="row">
      {% csrf_token %}
      <h5>Add New Users</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">Name</th> -->
            <th scope="col">Email</th>
            <th scope="col">Access</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th><input type="text" id="new_user_name" class="form-control" placeholder="Name"></th> -->
            <td><input type="text" id="new_user_email_1" type="email" class="form-control" placeholder="Email"></td>
            <td>
              <select id="new_user_access_1" class="custom-select" required>
                <option value="reader">Read Access</option>
                <option value="writer">Edit Access</option>
              </select>
            </td>
            <td><button id="share_1" class="btn btn-primary" onclick="share(1, {{ timeline.id }})" type="button">Share <i class="fas fa-share"></i></button></td>
          </tr>

          <tr>
            <!-- <th><input type="text" class="form-control" placeholder="Name"></th> -->
            <td><input id="new_user_email_2" type="text" type="email" class="form-control" placeholder="Email"></td>
            <td>
              <select id="new_user_access_2" class="custom-select" required>
                <option value="reader">Read Access</option>
                <option value="writer">Edit Access</option>
              </select>
            </td>
            <td><button id="share_2" class="btn btn-primary" onclick="share(2, {{ timeline.id }})" type="button">Share <i class="fas fa-share"></i></button></td>
          </tr>

          <tr>
            <!-- <th><input type="text" class="form-control" placeholder="Name"></th> -->
            <td><input id="new_user_email_3" type="text" type="email" class="form-control" placeholder="Email"></td>
            <td>
              <select id="new_user_access_3" class="custom-select" required>
                <option value="reader">Read Access</option>
                <option value="writer">Edit Access</option>
              </select>
            </td>
            <td><button id="share_3" class="btn btn-primary" onclick="share(3, {{ timeline.id }})" type="button">Share <i class="fas fa-share"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script src = {% static "timeline/js/sharing.js" %}></script>
{% endblock %}
