{% extends "base.html" %}

{% load static %}

{% block title %}Timelines{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href={% static "timeline/css/timeline.css" %}>
<link rel="stylesheet" type="text/css" href={% static "home/css/font-awesome/css/font-awesome.min.css" %}>
{% endblock %}

{% block content %}
<div class="row">
	<div class="container-fluid">
		<div class = "row top-buffer-first text-center">
			<div class = "col-md-12">
				<button type="button" class="btn" id = "btn-new-timeline" data-toggle="modal" data-target="#addTimeline"><i class="fa fa-plus-circle"></i>  Create New Timeline</button>
				<h1>{{ user.first_name }}'s Timelines</h1>
			</div>
    </div>
  </div>
</div>

<div class="row top-buffer bottom-buffer side-buffer">
  {% if timeline_count == 0 %}
    <div class = "col-md-12 center-block">
      <div id = "timeline-tutorial" class = " card-outline-info center-block text-center">
          <i class="fa fa-arrow-up fa-4x"></i>
          <h4>Use the "Create New Timeline" button to create your first timeline.</h4>
      </div>
    </div>
  {% endif %}
</div>

{% if timelines %}
<div class="row">
  <div class="row top-buffer bottom-buffer side-buffer">
    <div>
      <h3>Your Timelines</h3>
      {% for timeline in timelines %}
      <div class = "col-md-4 center-block btn-block">
        <a href = "{% url 'view' timeline.id %}">
          <div class="card top-buffer card-outline-info bottom-buffer" style="width: 100%;">
            {% if timeline.image %}
            <img class="card-img-top img-fluid" src="https://drive.google.com/uc?export=view&id={{ timeline.image }}" alt="{{ timeline.name }}">
            {% else %}
            <img class="card-img-top img-fluid" style="width: 900px" src= {% static "/timeline/media/default-profile.png" %} alt="Default timeline card image">
            {% endif %}
            <hr/>
            <div class="card-block text-card-block">
              <h4 class="card-title">{{ timeline.name }}</h4>
              <p class="card-text">{{ timeline.description }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if shared_timelines %}
<div class="row">
    <div class="row top-buffer bottom-buffer side-buffer">
      <div>
        <h3>Timelines Shared with You</h3>
        {% for shared in shared_timelines %}
        <div class="col-lg-4 center-block btn-block">
          <a href = "{% url 'view' shared.timeline.id %}">
            <div class="card top-buffer card-outline-info bottom-buffer" style="width: 100%;">
              {% if shared.timeline.image %}
              <img class="card-img-top img-fluid" src="https://drive.google.com/uc?export=view&id={{ shared.timeline.image }}" alt="{{ shared.timeline.name }}">
              {% else %}
              <img class="card-img-top img-fluid" style="width: 900px" src= {% static "/timeline/media/default-profile.png" %} alt="Default timeline image">
              {% endif %}
              <hr/>
              <div class="card-block text-card-block">
                <h4 class="card-title">{{ shared.timeline.name }}</h4>
                <p class="card-text">{{ shared.timeline.description }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}


<!--  Modal for adding Timeline -->

  <div class="modal fade" id="addTimeline" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Timeline</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div hidden id="required-alert" class="alert alert-danger" role="alert">
            Name is a required input.
          </div>
          <form>
            {% csrf_token %}
            <div class="form-group">
              <label for="timeline_name" class="form-control-label">Timeline Name:</label>
              <input type="text" class="form-control" required id="timeline_name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" onClick="createTimeline('timeline')" class="btn btn-primary">Add</button>
          <button type="button" onClick="createTimeline('files')" class="btn btn-primary">Add Picture</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src = {% static "timeline/js/timeline.js" %}></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
{% endblock %}
