{% extends "base.html" %}

{% load static %}

{% block title %}MemryHub{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href={% static "timeline/css/view.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "home/css/font-awesome/css/font-awesome.min.css" %}>
{% endblock %}

{% block content %}
  <h1>{{ timeline.name}}</h1>
  <p> {{ timeline.description }}</p>
  <div class = "container-fluid">
    <!--Timeline Divider-->
    <div class = "row">
      <div class = "col-lg-12">
        <a href="{% url 'create_card' timeline.id %}" class="btn btn-info bottom-buffer">Add Memory</a>
        <div class = "main-title">
          <h1>Sterling Colton</h1>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "col-lg 12">
        <div class="timeline-divider text-center">
          <hr/>
  				<h2>1938</h2>
          <hr/>
        </div>
      </div>
    </div>

    <!--Audio Card-->
    <div class = "row">
      <div class = "col-lg 12">
        {% for card in cards %}
        <div class="card text-center center-block" style = "width: 50%">
  				<div class="card-block header-block">
            <h4 class="card-title">{{ card.card_name }}</h4>
            <h5 class ="card-subtitle">{{ card.start_month }}/{{ card.start_day }}/{{ card.start_year }}</h5>
            <p class="card-description">{{ card.description }}</p>
          </div>

          <!--Photo-->
          <div class = "card-block picture-block">
            <h5>Skiing with Grandpa</h5>
            <iframe frameborder="0" src="https://drive.google.com/file/d/1_ptji-UIBrqoYdt1Pp92cnrf46sEBspi/preview?usp=sharing"></iframe>


          <!--
            <div class="card-columns card-columns-photo">
              <div class="card photo-card">
                <iframe frameborder="0" src="https://drive.google.com/file/d/1nUuX0AdZIMFJ4MQQHiraQciC00V0-NNO/preview?usp=sharing"></iframe>
              </div>
              <div class="card photo-card">
                <iframe frameborder="0" src="https://drive.google.com/file/d/1nUuX0AdZIMFJ4MQQHiraQciC00V0-NNO/preview?usp=sharing"></iframe>
              </div>
              <div class="card photo-card">
                <iframe frameborder="0" src="https://drive.google.com/file/d/1nUuX0AdZIMFJ4MQQHiraQciC00V0-NNO/preview?usp=sharing"></iframe>
              </div>
            </div>
          -->
          </div>

          <div class = "card-block audio-block">
            <h5>Singing Happy Birthday</h5>
            <iframe frameborder="0" src="https://drive.google.com/file/d/1zv6-1-Uz1uOypmaKwYBlUXjAqZOBtSro/preview?usp=drive_web"></iframe>
  				</div>


          <!--Video Card-->
          <div class = "card-block video-block">
            <h5>Random Video</h5>
            <iframe frameborder="0" src="https://drive.google.com/file/d/1oGhksGHndta2el9iGwvMOI8E5w4x8_Pn/preview?usp=sharing"></iframe>
  				</div>

          <!--Text Card-->
          <div class = "card-block text-block">
            <h5>Story about Grandpa</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  				</div>

          <div class = "card-block footer-block">
            <h6>Created by Brandon Colton</h6>
            <a href="{% url 'edit_card' card.id %}">Edit Memory Details</a>
          </div>

				</div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
